/* ===== ESTILO GENERAL ===== */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* ===== PANTALLAS ===== */
.pantalla {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh; /* ✅ altura real del dispositivo */
  transition: opacity 0.6s ease;
}

.oculto {
  opacity: 0;
  pointer-events: none;
}

/* ===== PANTALLA 1 ===== */
#inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #000000 0%, #eb4c02 185%);
  text-align: center;
}

#inicio h1 {
  font-size: 2.2rem;
  color: gold;
  margin-bottom: 10px;
}

#inicio h2 {
  font-size: 1.2rem;
  color: goldenrod;
  margin-bottom: 25px;
}

button {
  background-color: #ebad5b;
  color: #001f3f;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #c97902;
}

.imagen img {
  width: 250px;
  margin-bottom: 80px;
}

/* ===== PANTALLA 2 ===== */
#segunda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("imagenes_sonidos/fuegos.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

/* Contenedor interior con distribución */
.layout-pantalla2 {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px;
}

/* Título arriba */
.layout-pantalla2 h1 {
  margin-top: 20px;
  font-size: 1.8rem;
  color: #ff7300;
}

/* Subtítulo al centro */
.layout-pantalla2 h2 {
  font-size: 1.4rem;
  color: #ffffff;
  max-width: 90%;
  margin: 0 auto;
}

/* Imágenes de pera al fondo */
.imagenes-pera {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.imagenes-pera img {
  width: 200px;
  height: 200px;
}

/* Botón volver */
.btn-volver {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  color: rgb(0, 0, 0);
  background-color: rgb(165, 89, 2);
}

/* ===== ADAPTACIÓN MÓVIL ===== */
@media (max-width: 500px) {
  .layout-pantalla2 h1 { font-size: 1.5rem; }
  .layout-pantalla2 h2 { font-size: 0.95rem; }
  .imagenes-pera img { width: 65px; height: 65px; }
}
